---
---

@import "{{ site.theme }}";

div.state {
    background-color: #f8f800;
    color: black;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
    margin-bottom: 12px;
}

p.tags {
    font-size: smaller;
    color: #6bb;
    margin-bottom: 12px;
}

footer p {
    font-size: small;
}

p.date {
    font-size: small;
    font-style: italic;
    text-align: right;
}

p.logo {
    padding-top: 16px;
    margin-bottom: 0px;
    line-height: 4;
}

body {
    background-color: #e8f8ff;
}

section {
    width: 550px;
    background-color: #fff;
    padding: 15px 15px 15px 15px;
}
